[submodule "Engine"]
	path = Engine
	url = git@github.com:juanjp600/pge.git
[submodule "Tools/TextMapper/Libraries/freetype"]
	path = Tools/TextMapper/Libraries/freetype
	url = git@github.com:Saalvage/freetype.git
[submodule "Tools/Bverter/Libraries/assimp"]
	path = Tools/Bverter/Libraries/assimp
	url = git@github.com:juanjp600/assimp.git
[submodule "Libraries/gli"]
	path = Libraries/gli
	url = git@github.com:g-truc/gli.git
